/* Design system */

:root {
    /* Font-size */
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-30: 1.875rem;
    /* Palette */
    
    /* Light */
    --light-hover: #DADAD8;
    --light-bg: rgba(147,167,181,1) 00%, rgba(236,231,225,1) 100%;
    --light-startColorstr: #93a7b5;
    --light-endColorstr: #ece7e1;
    --main-black: #1A1818;
    --light-element: #ECE7E1;
    --light-button: #a49786;
    --light-button-hover: #b5a795;
    /* Dark */
    --dark-hover: #656575;
    --dark-bg: rgba(31, 31, 46, 1) 00%, rgba(48, 48, 48, 0.51) 100%;
    --dark-startColorstr: #303030;
    --dark-endColorstr: #1F1F2E;
    --main-white: white;
    --dark-element: #7D7D8F;
    --dark-button: #252534;
    --dark-button-hover: #48485f;
}
.dark-mode {
    --light-hover: var(--dark-hover);
    --light-bg: var(--dark-bg);
    --light-startColorstr: var(--dark-startColorstr);
    --light-endColorstr: var(--dark-endColorstr);
    --main-black: var(--main-white);
    --light-element: var(--dark-element);
    --light-button: var(--dark-button);
    --light-button-hover: var(--dark-button-hover);
}
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global utility classes */

body {
    background: rgb(147,167,181);
    background-attachment: fixed;
    font-family: 'Rajdhani', sans-serif;
    font-size: var(--fs-18);
    min-height: 100%;
    height: 100vh;
    background: -moz-linear-gradient(351deg, var(--light-bg));
    background: -webkit-linear-gradient(351deg, var(--light-bg));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(light-startColorstr)",endColorstr="var(light-endColorstr)",GradientType=1);
    background: linear-gradient(351deg, var(--light-bg));
    color: var(--main-black);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 3px solid var(--main-black);
}
.left-section {
    padding: 20px 60px;
}
.right-section {
    text-align: center;
    padding: 20px 60px;
    border-left: var(--main-black) solid 3px;
}
.right-section a {
    text-decoration: none;
    color: inherit;
}
nav {
    font-size: var(--fs-14);
    margin: 10px;
}
.breadcrumb {
    display: flex;
    list-style-type: none; 
}
.breadcrumb li, .breadcrumb span {
    padding: 10px; 
}
.breadcrumb a {
    text-decoration: none;
    color: inherit;
}
main {
    max-width: 1100px;
    margin: 0 auto;
}
.border-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    border: 3px solid var(--main-black);
}
.dark-light-button {
    height: 25px;
    position: fixed;
    bottom: 57px;
    left: 57px;
    border: none;
    cursor: pointer;
}
.intro {
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    font-size: var(--fs-30);
    margin: 70px 0 70px 0;
}
.intro div:nth-child(1) {
    font-weight: 600;
}
.what-i-do {
    text-transform: uppercase;
    font-size: var(--fs-24);
    text-align: justify;
    margin-bottom: 70px;
}
.work {
    text-transform: uppercase;
    font-size: var(--fs-30);
    margin-bottom: 20px;
}
.work-container {
    display: flex;
    justify-content: space-between;
    margin: 26px auto;
    font-size: var(--fs-14);
    font-weight: 600;
}
.card {
    min-width: 300px;
    height: 445px;
    padding: 10px;
    background-color: var(--light-element);
    border-radius: 4px;
}
.button-link {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: inherit;
    background-color: var(--light-element);
    border-radius: 2px;
}
.button-link:hover {
    background: var(--light-hover);
}
.card:nth-child(2) {
    margin: 0 10px 0 10px;
}
.video-placeholder {
    height: 100%;
}
.video-placeholder.a {
    transform: translateX(-20%);
}
.video-placeholder.b,
.video-placeholder.c  {
    transform: translateX(-14%);
}
.image-container {
    overflow: hidden;
    max-width: 330px;
    width: 100%;
    height: 400px;
    position: relative;
}
.video-projet {
    cursor: pointer;
}
.button:hover {
    opacity: 0.8;
}
.project-info {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}
.contact {
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    font-size: var(--fs-30);
    margin: 70px 0 70px 0;
}
.contact-me::after {
    content: "Contact me";
    cursor: pointer;
}
.contact-me:hover::after {
    content: attr(data-email);
}

/* Responsive */

@media screen and (max-width: 1200px) {
    main {
        max-width: 920px!important;
    }
    .card {
        width: 240px;
        height: 364px!important;
        padding: 8px;
    }
    .image-container {
        height: 320px!important;
    }
    .video-projet {
        transform: translateX(-6%);
    }
    .video-projet.last {
        transform: translateX(-6%);
        cursor: pointer;
    }
    .work-container {
        margin: 11px auto;
    }
}
@media screen and (max-width: 970px) {
    main {
        max-width: 578px!important;
    }
    .work {
        text-align: center;
    }
    .work-container {
        flex-direction: column!important;
        margin: 0 auto;
    }
    .card {
        width: 56%;
        height: 445px!important;
        margin: 0 auto 10px auto!important;
    }
    .image-container {
        height: 400px!important;
    }
    .intro {
        font-size: var(--fs-24)!important;
        margin: 50px 0 50px 0!important;
        flex-direction: column;
        text-align: center;
    }
    .intro div:nth-child(2) {
        padding-top: 30px;
    }
    .what-i-do {
        font-size: var(--fs-20)!important;
        margin-bottom: 50px!important;
    }
    .work {
        font-size: var(--fs-24)!important;
    }
    .contact {
        font-size: var(--fs-24)!important;
        margin: 50px 0 50px 0!important;
        flex-direction: column;
        text-align: center;
    }
    .dark-light-button {
        height: 20px!important;
        bottom: 40px!important;
        left: 40px!important;
    }
    .bird-container {
        animation-duration: 22s!important;
    }
}
@media screen and (max-width: 628px) {
    main {
        max-width: 299px!important;
    }
    .header {
      flex-direction: column;
    }
    .right-section {
        border-left: none;
        width: 100%;
        padding: 13px 0;
        border-top: var(--main-black) solid 3px;
    }
    .left-section {
        padding: 13px 0;
    }
    .card {
        height: 450px!important;
    }
    .image-container {
        height: 405px!important;
    }
    .video-placeholder.a {
        transform: translateX(-24%);
    }
    .video-placeholder.b, .video-placeholder.c {
        transform: translateX(-20%);
    }
    .bird-container {
        animation-duration: 15s!important;
    }
    .video-projet {
        display: none!important;
    }
    .video-placeholder {
        display: block!important;
    }
}

/* Bottom slider */

.slider {
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    animation: defilement 20s linear infinite;
    cursor: pointer;
    bottom: 0;
    position: fixed; 
    background: var(--light-element);
}
.slider-container {
    overflow: hidden;
}
@keyframes defilement {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
.slider:hover {
    animation: defilement 25s linear infinite;
}

/* Flying bird animation */

.bird {
    width: 100px;
    height: 100px;
    background-size: auto 100%;
    will-change: background-position;
    animation-duration: 1s;
    animation-name: ailes;
    animation-timing-function: steps(6);
    animation-iteration-count: infinite;
}
.bird-light {
    background-image: url('../ressources/bird-animation.svg');
}
.bird-dark {
    background-image: url('../ressources/bird-animation-dark.svg');
}
.birdDG {
    transform: scaleX(-1);
}
@keyframes ailes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -600px 0;
    }
}
.bird-container {
    animation-duration: 30s;
    animation-delay: 2s;
    top: 20%;
    position: fixed; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.gauche-droite {
    animation-name: avancementGD;
    left: -10%;
    transform: scale(0) translateX(-10vh);
}
@keyframes avancementGD {
    0% {
        transform: scale(.8) translateX(-10vh);
    }
    5% {
        transform: translateY(2vh) translateX(10vw) scale(.8);
    }
    10% {
        transform: translateY(0) translateX(30vw) scale(.9);
    }
    15% {
        transform: translateY(1vh) translateX(50vw) scale(1);
    }
    20% {
        transform: translateY(2vh) translateX(70vw) scale(1);
    }
    25% {
        transform: translateY(0) translateX(90vw) scale(1);
    }
    30% {
        transform: translateY(0) translateX(110vw) scale(1);
    }
    50% {
        transform: translateY(0) translateX(110vw) scale(1);
    }
    100% {
        transform: translateY(0) translateX(110vw) scale(1);
    }
}
.droite-gauche {
    animation-name: avancementDG;
    right: 90%;
    transform: scale(0) translateX(130vw);
}
@keyframes avancementDG {
    0% {
        transform: scale(.8) translateX(130vw);
    }
    5% {
        transform: translateY(2vh) translateX(90vw) scale(.8);
    }
    10% {
        transform: translateY(0) translateX(70vw) scale(.9);
    }
    15% {
        transform: translateY(1vh) translateX(50vw) scale(1);
    }
    20% {
        transform: translateY(2vh) translateX(30vw) scale(1);
    }
    25% {
        transform: translateY(0) translateX(10vw) scale(1);
    }
    30% {
        transform: translateY(0) translateX(-10vw) scale(1);
    }
    50% {
        transform: translateY(0) translateX(-10vw) scale(1);
    }
    100% {
        transform: translateY(0) translateX(-10vw) scale(1);
    }
}


/* Form */
form {
    background: var(--light-element);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto 50px auto;
}
.form p,
.name,
.email,
.phoneNb,
.deadline,
.add-info,
.pageNb {
    font-weight: 600;
}
h2 {
    font-weight: bold;
    margin-bottom: 20px;
}
label {
    display: block;
    margin: 10px 0 5px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Makes sure padding does not increase the width */
}
.phone,
.no,
.iti--allow-dropdown {
    margin-bottom: 20px;
}
.iti--allow-dropdown {
    width: 100%;
}
input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

input[type="file"] {
    background: none;
    border: none;
    margin-bottom: 20px;
}
button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
select {
    cursor: pointer;
}
::placeholder {
    color: #aaa;
    font-family: 'Rajdhani', sans-serif;
}
select {
    font-family: 'Rajdhani', sans-serif;
}
button[type="submit"] {
    display: block; /* Rend le bouton un bloc pour permettre le centrage */
    margin: 0px auto; /* Ajoute une marge automatique à gauche et à droite pour centrer le bouton */
    background-color: var(--light-button); /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    padding: 10px 20px; /* Padding autour du texte du bouton */
    border: none; /* Supprime la bordure du bouton */
    border-radius: 4px; /* Arrondit les coins du bouton */
    cursor: pointer; /* Change le curseur en main quand on survole le bouton */
    font-weight: bold; /* Rend le texte du bouton en gras */
}
button[type="submit"]:hover {
    background-color: var(--light-button-hover); /* Change la couleur de fond du bouton au survol */
}
