*,
::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #d3b7b7;
}
.container-couleurs,
.container-range,
.container-radio {
    height: auto;
    width: 280px;
    display: flex;
    margin-bottom:20px;
    justify-content: space-between;
}
.container-btn {
    height: auto;
    width: 300px;
    display: flex;
    margin-bottom:20px;
    justify-content: space-between;
}
.switch-container, 
.css-script {
    height: auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.bg {
    box-sizing: border-box;
    background: rgb(250, 250, 250, 0.7);
    padding: 10px;
    border: 1px solid #886262;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 300px;
}

/* Input couleurs */

.container-couleurs {
    width: 100%;
}
.input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 300px; 
}
.input-container:hover {
    opacity: 0.8;
}
.color-picker-trigger {
    position: absolute;
    top: 21px;
    right: 15px;
    cursor: pointer;
}
.inp-color-picker {
    position: absolute;
    right: 12px;
    opacity:0;
    cursor: pointer;
    width: 22px
}
.container-couleurs {
    flex-direction: column;
}
.inp-couleur {
    flex: 1;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #886262;
    margin: 5px 0;
}
.erreur-code-hexa {
    color: #ff3636;
    font-weight: 600;
}
.container-couleurs-error {
    margin-bottom: 20px;
}

/* Boutons + - shuffle */

button {
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    padding: 3px;
    border: 2px solid #886262;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
button:hover {
    border: 3px;
}
button img {
    width: 30px;
    pointer-events: none; 
}

/* Choix du type de gradient */

.container-radio {
    flex-direction: column;
}
.gradient-lineaire,
.gradient-radial {
    display: flex;
    align-items: center;
}
.gradient-lineaire label,
.gradient-radial label{
    width: 100%;
}

/* Inclinaison / rayon du gradient */

.container-range {
 flex-direction: column;
}

/* Bouton radio : repeat background */

.checkbox-container {
    display: flex;
    justify-content: space-between;
}
.switch-container {
    flex-direction: column;
    width: 280px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 21px;
}
.switch input {
    opacity: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch input:checked + .slider {
    background-color: #0075ff;
}
.switch input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
} 

/* Message d'erreur si <2 couleurs */

.erreur-nb-couleurs {
    color: #ff3636;
    font-weight: 600;
}
.container-btn-error {
    margin-bottom: 20px;
}

/* Copier CSS */

.css-script {
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #886262;
    font-size: 18px;
    cursor: pointer;
    background: #fff;
}
.css-script:hover {
    background: #f1f1f1;
}