<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Fichier robots.txt
  <Files "robots.txt">
    Allow from all
  </Files>

  # Ne pas appliquer de règle de réécriture pour les fichiers ou dossiers réels
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Rediriger toutes les requêtes vers index.html
  RewriteRule ^ index.html [L]
</IfModule>
